.logo {
  width: 420px;
  max-width: 90%;
  margin-bottom: 15px;
}

.statement {
  color: #00e0ff;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 500;
}

.hero p {
  color: #c9e8f2;
  font-size: 18px;
  max-width: 750px;
  margin: 10px auto;
}
